# Project exclude paths
/venv/
/backups/
/dg_config/settings.dev.yaml
/dg_config/refresh.txt
/dg_microsoft/reports/result.csv
/dg_config/secret.json
/dg_config/adobe_secret.pem
/dg_config/ca-certificate.crt
